# UdemyCourseData_analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
try:
    data = pd.read_csv(r"7. Udemy Courses.csv")
    print ("UdemyCourse Data dataset has {} samples with {} features each.".format(*data.shape))
except:
    print ("Dataset could not be loaded. Is the dataset missing?")

UdemyCourse Data dataset has 3682 samples with 11 features each.

In [3]:
data.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,$35.00,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,$75.00,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,$75.00,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,$75.00,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,$75.00,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

In [4]:
data.shape

(3682, 11)

In [5]:
# Display a description of the dataset
stats = data.describe()
stats

          course_id  num_subscribers   num_reviews  num_lectures
count  3.682000e+03      3682.000000   3682.000000   3682.000000
mean   6.766121e+05      3194.230310    156.093156     40.065182
std    3.436355e+05      9499.378361    934.957204     50.373299
min    8.324000e+03         0.000000      0.000000      0.000000
25%    4.078430e+05       110.250000      4.000000     15.000000
50%    6.885580e+05       911.500000     18.000000     25.000000
75%    9.617515e+05      2540.250000     67.000000     45.000000
max    1.282064e+06    268923.000000  27445.000000    779.000000

In [6]:
# Retrieve column names
data.columns

Index(['course_id', 'course_title', 'is_paid', 'price', 'num_subscribers',
       'num_reviews', 'num_lectures', 'level', 'content_duration',
       'published_timestamp', 'subject'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3682 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [8]:
data.index

RangeIndex(start=0, stop=3682, step=1)

In [9]:
data.isna().sum()

course_id              0
course_title           0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

In [10]:
data.duplicated().sum()

6

In [11]:
data.drop_duplicates(inplace=True)

In [12]:
data.duplicated().sum()

0

In [13]:
data.shape

(3676, 11)

# 1)Different subjects for which Udemy is offering courses ?

In [14]:
data.nunique()#all columns

course_id              3676
course_title           3667
is_paid                   2
price                    38
num_subscribers        2198
num_reviews             511
num_lectures            229
level                     4
content_duration        109
published_timestamp    3676
subject                   4
dtype: int64

In [15]:
data[['is_paid','level']].nunique()#multiple columns

is_paid    2
level      4
dtype: int64

In [16]:
data.subject.nunique()# single columns

4

In [17]:
data.subject.unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

# 2) Which subject has the maximum number of courses.

In [18]:
data.subject.unique().max()

'Web Development'

In [19]:
data.subject.value_counts()

Web Development        1199
Business Finance       1195
Musical Instruments     680
Graphic Design          602
Name: subject, dtype: int64

# 3) Show all the courses which are Free of Cost.

In [20]:
data.head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,$35.00,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,$75.00,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments

In [21]:
data[data['is_paid']==False]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
41,286070,5 lecciones que todo guitarrista debe tomar,False,Free,4452,263,14,Beginner Level,1 hour,2014-08-23T05:08:14Z,Musical Instruments
49,696630,"7 Ways A Beginner Guitarist Can Sound Better, ...",False,Free,4529,193,7,Beginner Level,36 mins,2015-12-21T18:50:50Z,Musical Instruments
57,955914,A beginner`s guide to fingerpicking and strumm...,False,Free,3481,29,20,Beginner Level,2 hours,2016-09-13T21:51:59Z,Musical Instruments
67,270976,A how to guide in HTML,False,Free,7318,205,8,Beginner Level,35 mins,2014-08-10T20:19:10Z,Web Development
74,1214144,¡Triunfar en La Bolsa de Valores No Requiere d...,False,Free,338,7,6,Beginner Level,1 hour,2017-05-30T14:30:12Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...
3620,552598,WordPress in under an hour - Create/manage you...,False,Free,6474,86,15,All Levels,1 hour,2015-07-15T00:21:56Z,Web Development
3638,1068590,Wordpress Website Mastery 2017,False,Free,5181,64,22,Beginner Level,2.5 hours,2017-01-18T17:01:40Z,Web Development
3652,752706,Write quicker HTML5 and CSS 3; productivity ha...,False,Free,13016,286,15,All Levels,1.5 hours,2016-03-03T17:45:31Z,Web Development
3674,1257976,Your First 10 Guitar Lessons - Learn how to pl...,False,Free,924,4,18,Beginner Level,1 hour,2017-06-29T00:29:36Z,Musical Instruments
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance

In [22]:
data[data['is_paid']==False].count()

course_id              310
course_title           310
is_paid                310
price                  310
num_subscribers        310
num_reviews            310
num_lectures           310
level                  310
content_duration       310
published_timestamp    310
subject                310
dtype: int64

# 4) Show all the courses which are Paid.

In [23]:
data[~data['is_paid']==False]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,$35.00,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,$75.00,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,$75.00,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,$75.00,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,$75.00,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3676,498488,Your First Successful Forex Trades - With Case...,True,$200.00,1079,34,16,All Levels,2.5 hours,2015-05-26T20:48:48Z,Business Finance
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,$120.00,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3678,552700,Your Second Course on Piano: Two Handed Playing,True,$70.00,1018,12,22,Beginner Level,5 hours,2015-10-26T20:04:21Z,Musical Instruments
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,$40.00,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3681,964478,Zombie Apocalypse Photoshop Actions,True,$50.00,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

In [24]:
data[~data['is_paid']==False].count()

course_id              3366
course_title           3366
is_paid                3366
price                  3366
num_subscribers        3366
num_reviews            3366
num_lectures           3366
level                  3366
content_duration       3366
published_timestamp    3366
subject                3366
dtype: int64

In [25]:
data[data['is_paid']==True]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,$35.00,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,$75.00,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,$75.00,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,$75.00,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,$75.00,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3676,498488,Your First Successful Forex Trades - With Case...,True,$200.00,1079,34,16,All Levels,2.5 hours,2015-05-26T20:48:48Z,Business Finance
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,$120.00,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3678,552700,Your Second Course on Piano: Two Handed Playing,True,$70.00,1018,12,22,Beginner Level,5 hours,2015-10-26T20:04:21Z,Musical Instruments
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,$40.00,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3681,964478,Zombie Apocalypse Photoshop Actions,True,$50.00,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

# 5) Which are Top Selling Courses ?

In [26]:
data.sort_values('num_subscribers',ascending=False)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
2230,41295,Learn HTML5 Programming From Scratch,False,Free,268923,8629,45,All Levels,10.5 hours,2013-02-14T07:03:41Z,Web Development
776,59014,Coding for Entrepreneurs Basic,False,Free,161029,279,27,Beginner Level,3.5 hours,2013-06-09T15:51:55Z,Web Development
3385,625204,The Web Developer Bootcamp,True,$200.00,121584,27445,342,All Levels,43 hours,2015-11-02T21:13:27Z,Web Development
640,173548,Build Your First Website in 1 Week with HTML5 ...,False,Free,120291,5924,30,Beginner Level,3 hours,2014-04-08T16:21:30Z,Web Development
3316,764164,The Complete Web Developer Course 2.0,True,$200.00,114512,22412,304,All Levels,30.5 hours,2016-03-08T22:28:36Z,Web Development
...,...,...,...,...,...,...,...,...,...,...,...
403,1221942,Basic Bookkeeping,True,$35.00,0,0,12,Beginner Level,44 mins,2017-05-23T16:20:18Z,Business Finance
2596,185526,MicroStation - Células,True,$20.00,0,0,9,Beginner Level,37 mins,2014-04-15T21:48:55Z,Graphic Design
994,603902,Curso de Didgeridoo nivel principiante,True,$50.00,0,0,31,Beginner Level,1 hour,2016-04-11T04:14:05Z,Musical Instruments
476,1252410,Beginners Guide to Kindle Ebook Covers Design ...,True,$20.00,0,0,16,All Levels,1.5 hours,2017-06-19T19:26:46Z,Graphic Design
2418,1058852,Learn to trade using technical analysis,True,$50.00,0,0,6,Intermediate Level,32 mins,2017-05-02T13:15:53Z,Business Finance

In [27]:
data.sort_values('num_subscribers',ascending=False).max()

course_id                                                 1282064
course_title           ７日でマスター  ビギナー向け Adobe Illustrator　どきどきセミナー
is_paid                                                      True
price                                                        Free
num_subscribers                                            268923
num_reviews                                                 27445
num_lectures                                                  779
level                                          Intermediate Level
content_duration                                        9.5 hours
published_timestamp                          2017-07-06T21:46:30Z
subject                                           Web Development
dtype: object

# 6) Which are Least Selling Courses ?

In [28]:
data.sort_values('num_subscribers',ascending=True)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
2290,1223240,Learn Pirates of the Caribbean by Ear on the P...,True,$20.00,0,0,6,All Levels,32 mins,2017-05-22T17:14:43Z,Musical Instruments
3261,1275872,The Complete Adobe Spark Course,True,$150.00,0,0,29,All Levels,2 hours,2017-07-03T17:39:57Z,Graphic Design
491,1251582,Best Practices in Corporate Budgeting,True,$50.00,0,0,9,Intermediate Level,2 hours,2017-06-29T22:01:56Z,Business Finance
484,1032648,beginning accounting,True,$20.00,0,0,12,Intermediate Level,38 mins,2016-12-26T16:52:47Z,Business Finance
91,1265814,ABRSM Grade III Piano Class - Handel Sonatina ...,True,$20.00,0,0,5,Beginner Level,31 mins,2017-07-06T16:12:34Z,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3316,764164,The Complete Web Developer Course 2.0,True,$200.00,114512,22412,304,All Levels,30.5 hours,2016-03-08T22:28:36Z,Web Development
640,173548,Build Your First Website in 1 Week with HTML5 ...,False,Free,120291,5924,30,Beginner Level,3 hours,2014-04-08T16:21:30Z,Web Development
3385,625204,The Web Developer Bootcamp,True,$200.00,121584,27445,342,All Levels,43 hours,2015-11-02T21:13:27Z,Web Development
776,59014,Coding for Entrepreneurs Basic,False,Free,161029,279,27,Beginner Level,3.5 hours,2013-06-09T15:51:55Z,Web Development
2230,41295,Learn HTML5 Programming From Scratch,False,Free,268923,8629,45,All Levels,10.5 hours,2013-02-14T07:03:41Z,Web Development

# 7) Show all courses of Graphic Design where the price is below 100 ?

In [29]:
data['price'].unique()

array(['$35.00', '$75.00', '$65.00', '$200.00', '$25.00', '$100.00',
       '$20.00', '$40.00', '$30.00', '$45.00', '$185.00', '$120.00',
       '$105.00', '$50.00', 'Free', '$145.00', '$55.00', '$85.00',
       '$110.00', '$150.00', '$95.00', '$180.00', '$125.00', '$60.00',
       '$90.00', '$195.00', '$80.00', '$70.00', '$140.00', '$190.00',
       '$115.00', '$130.00', '$170.00', '$175.00', '$165.00', '$135.00',
       '$155.00', '$160.00'], dtype=object)

In [30]:
#Some Transformations
data['price'] = data['price'].astype(str) #Changing the price to string
data['price'] = data['price'].apply(lambda x: x.replace('$',''))#Using lambda function to replace ',' from price
data['price'] = data['price'].apply(lambda x: x.replace('Free','0'))
data['price'] = data['price'].astype(float) # Changing the price to Float
data.info() # looking at the dataset information after transformation

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3676 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3676 non-null   int64
 1   course_title         3676 non-null   object
 2   is_paid              3676 non-null   bool
 3   price                3676 non-null   float64
 4   num_subscribers      3676 non-null   int64
 5   num_reviews          3676 non-null   int64
 6   num_lectures         3676 non-null   int64
 7   level                3676 non-null   object
 8   content_duration     3676 non-null   object
 9   published_timestamp  3676 non-null   object
 10  subject              3676 non-null   object
dtypes: bool(1), float64(1), int64(4), object(5)
memory usage: 319.5+ KB

In [31]:
data[(data['subject']=='Graphic Design')&(data['price']<100)]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
8,206592,:::Beginners Guide To Creating Amazing Images ...,True,25.0,72,5,17,Beginner Level,1 hour,2014-04-29T19:50:31Z,Graphic Design
20,1165268,15 Motion Graphic Elements in After Effect (S...,True,30.0,8,0,20,Intermediate Level,3 hours,2017-04-11T04:27:34Z,Graphic Design
35,1164876,3DS MAX - Learn 3Ds MAX tutorial for Beginners...,True,20.0,785,2,29,All Levels,4.5 hours,2017-04-18T16:45:59Z,Graphic Design
39,599652,48 Logo Designs and Techniques,True,20.0,113,9,48,All Levels,9 hours,2015-09-15T00:23:14Z,Graphic Design
52,794036,8 Stunden professionelles Cinema 4D Training,True,50.0,18,1,38,All Levels,8.5 hours,2016-03-22T20:51:28Z,Graphic Design
...,...,...,...,...,...,...,...,...,...,...,...
3568,133968,Web Elements Design With Photoshop,True,45.0,5072,38,44,All Levels,5 hours,2014-10-21T19:18:12Z,Graphic Design
3588,1131780,"Whiteboard Animation, Beginner To Expert - In ...",True,20.0,1343,25,16,All Levels,1 hour,2017-03-14T20:52:30Z,Graphic Design
3639,1122306,Wordpress: Comment utiliser le thème FABLE,True,20.0,1,0,10,Beginner Level,39 mins,2017-03-07T16:53:27Z,Graphic Design
3671,144222,"YOU can Draw, Shade and Paint a Mixed Media Gi...",True,30.0,1249,44,19,Beginner Level,3 hours,2014-01-28T02:30:26Z,Graphic Design
3681,964478,Zombie Apocalypse Photoshop Actions,True,50.0,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

# 8) List out all the courses that are related to 'Python'

In [32]:
data[data['course_title'].str.contains('Python')].head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
216,599504,Advanced Scalable Python Web Development Using...,True,120.0,1299,56,71,Intermediate Level,14 hours,2016-08-11T22:09:24Z,Web Development
777,47963,"Coding for Entrepreneurs: Learn Python, Django...",True,195.0,23412,799,251,All Levels,45 hours,2013-04-08T00:46:14Z,Web Development
814,631128,Complete Python Web Course: Build 8 Python Web...,True,110.0,7489,941,173,All Levels,16 hours,2015-11-08T20:57:35Z,Web Development
842,186096,"Core: A Web App Reference Guide for Django, Py...",True,195.0,2497,98,154,All Levels,26 hours,2014-05-29T00:58:43Z,Web Development
1400,394832,Fun and creative web engineering with Python a...,False,0.0,10917,319,25,All Levels,2 hours,2015-06-09T19:51:50Z,Web Development

In [33]:
data[data['course_title'].str.contains('Python')].count()

course_id              29
course_title           29
is_paid                29
price                  29
num_subscribers        29
num_reviews            29
num_lectures           29
level                  29
content_duration       29
published_timestamp    29
subject                29
dtype: int64

# 9) What are courses that were published in the year 2015 ?

In [34]:
data.dtypes

course_id                int64
course_title            object
is_paid                   bool
price                  float64
num_subscribers          int64
num_reviews              int64
num_lectures             int64
level                   object
content_duration        object
published_timestamp     object
subject                 object
dtype: object

In [35]:
data.published_timestamp=pd.to_datetime(data.published_timestamp)

In [36]:
data.head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35.0,3137,18,68,All Levels,1.5 hours,2014-09-18 05:07:05+00:00,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75.0,1593,1,41,Intermediate Level,1 hour,2017-04-12 19:06:34+00:00,Musical Instruments

In [37]:
data['Year']=data.published_timestamp.dt.year

In [38]:
data.head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,Year
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35.0,3137,18,68,All Levels,1.5 hours,2014-09-18 05:07:05+00:00,Musical Instruments,2014
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75.0,1593,1,41,Intermediate Level,1 hour,2017-04-12 19:06:34+00:00,Musical Instruments,2017

In [39]:
data.insert(1,'year',data.published_timestamp.dt.year)

In [40]:
data.head(2)

,course_id,year,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,Year
0,288942,2014,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35.0,3137,18,68,All Levels,1.5 hours,2014-09-18 05:07:05+00:00,Musical Instruments,2014
1,1170074,2017,#10 Hand Coordination - Transfer Chord Ballad ...,True,75.0,1593,1,41,Intermediate Level,1 hour,2017-04-12 19:06:34+00:00,Musical Instruments,2017

In [41]:
data[data.year==2015]

,course_id,year,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,Year
10,591880,2015,1 - Concepts of Statistics For Beginners Step ...,True,200.0,273,4,15,Beginner Level,31 mins,2015-08-30 22:48:34+00:00,Business Finance,2015
16,302450,2015,10 Numbers Every Business Owner Should Know,True,20.0,13,1,9,All Levels,1 hour,2015-03-08 19:11:24+00:00,Business Finance,2015
19,384928,2015,101 Blues riffs - learn how the harmonica supe...,True,200.0,1350,65,55,Intermediate Level,6.5 hours,2015-01-04 21:14:31+00:00,Musical Instruments,2015
23,550842,2015,16 Guitar Chords to Jam With - (Beginner - Int...,True,20.0,1224,19,20,Beginner Level,1 hour,2015-07-10 19:53:56+00:00,Musical Instruments,2015
26,486240,2015,2 Easy Steps To Investment And Avoiding Traps,True,20.0,828,1,20,All Levels,1 hour,2015-04-27 23:18:59+00:00,Business Finance,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,551170,2015,Your First Course on Piano,True,70.0,2002,34,33,Beginner Level,4 hours,2015-07-16 17:07:49+00:00,Musical Instruments,2015
3676,498488,2015,Your First Successful Forex Trades - With Case...,True,200.0,1079,34,16,All Levels,2.5 hours,2015-05-26 20:48:48+00:00,Business Finance,2015
3677,328960,2015,Your Own Site in 45 Min: The Complete Wordpres...,True,120.0,1566,29,36,All Levels,4 hours,2015-04-20 22:15:17+00:00,Web Development,2015
3678,552700,2015,Your Second Course on Piano: Two Handed Playing,True,70.0,1018,12,22,Beginner Level,5 hours,2015-10-26 20:04:21+00:00,Musical Instruments,2015
3679,631754,2015,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40.0,723,130,37,All Levels,6.5 hours,2015-11-11 18:55:45+00:00,Web Development,2015

# 10) What is the Max. Number of Subscribers for Each Level of courses ?

In [42]:
data.groupby(['level']).max()

,course_id,year,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,content_duration,published_timestamp,subject,Year
level,,,,,,,,,,,,
All Levels,1277924,2017,６時間でインターバンク市場を攻略！最短距離でトレード基礎力,True,200.0,268923,27445,544,9.5 hours,2017-07-06 21:16:13+00:00,Web Development,2017
Beginner Level,1282064,2017,７日でマスター ビギナー向け Adobe Illustrator どきどきセミナー,True,200.0,161029,5924,779,9.5 hours,2017-07-06 21:46:30+00:00,Web Development,2017
Expert Level,1275790,2017,[Value Investing] Where White People Keep Thei...,True,200.0,5172,249,157,9 hours,2017-07-04 18:08:01+00:00,Web Development,2017
Intermediate Level,1276182,2017,株式投資で本当のテクニカル分析ができるようになる,True,200.0,29167,3326,320,9.5 hours,2017-07-05 04:41:54+00:00,Web Development,2017

In [43]:
data.groupby('level')['num_subscribers'].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64

In [44]:
data.groupby('level')['subject'].max()

level
All Levels            Web Development
Beginner Level        Web Development
Expert Level          Web Development
Intermediate Level    Web Development
Name: subject, dtype: object

# 11.Create a pivot table

In [45]:
pivot=pd.crosstab(data['subject'],data['level'])

In [46]:
pivot

level,All Levels,Beginner Level,Expert Level,Intermediate Level
subject,,,,
Business Finance,696,340,31,128
Graphic Design,298,242,5,57
Musical Instruments,276,296,7,101
Web Development,658,391,15,135